/* h1   {
    background-color: #000;
    color: #fff;
  } */
.navbar{
    background-color: orange;
}
  /* Additional dark mode styles */
  /* C:\Users\Lenovo\portfolio\react-portfolio\src\css\style-dark.css
  C:\Users\Lenovo\portfolio\react-portfolio\src\components\ThemeContext.js */